{% include 'bpmn_representation.jinja2' %}

{% include 'bpmn_examples.jinja2' %}

---

以下的历史记录是用户和AI助手之间的对话记录。

Message history:
```
{{ message_history }}
```


创建一个BPMN流程图，描述用户所说的流程。

描述用户所说的流程时，请展示对应的BPMN图的格式化文本表示形式。以便更好地描述用户所说的流程。